nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}

a{
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
}

h1 {
    text-align: center;
    color: steelblue;
}

h2 {
    color: steelblue;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

/* img {
    
} */

p {
    text-align: center;
    padding: 10px;
}

#active {
    background-color: white;
    color: steelblue;
}

#content {
    margin: 0 auto;
}

a:hover {
    background-color: white;
    color: steelblue;
}

div
{
    max-width: 1600px;
}
