@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Work+Sans:wght@300&display=swap');

nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}

a{
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
    font-family: "Work Sans", Helvetica, serif;
}

h1 {
    text-align: center;
    color: steelblue;
}

h2 {
    color: steelblue;
    font-family: "Playfair Display", Helvetica, serif;
}

#hero-msg h1 {
    text-align: center;
    font-family: "Playfair Display", Helvetica, serif;
}

#hero-msg h4 {
    text-align: center;
    font-family: "Work Sans", Helvetica, serif;
}

/* img {
    
} */

p {
    text-align: center;
    padding: 10px;
}

#active {
    background-color: white;
    color: steelblue;
}

#content {
    margin: 0 auto;
    font-family: "Work Sans", Helvetica, serif;
}

a:hover {
    background-color: white;
    color: steelblue;
}

div
{
    max-width: 1600px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}
